/* RESET CSS */
body,
h1,
h2,
h3,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ESTILOS GERAIS */
body {
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 130px minmax(300px, 800px) 1fr;
}
